*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 2rem; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Playfair Display"; }

.navbar {
  display: flex;
  gap: 22rem;
  position: relative;
  z-index: 10; }

.logo {
  font-size: 3rem;
  font-weight: 600; }

.frist {
  margin-top: -2rem;
  padding: 1.5rem 3.5rem;
  background-color: #fff;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 50%; }
  @media (max-width: 56.25em) {
    .frist {
      margin-top: 0;
      left: 60%;
      background-color: #ededed; } }
  @media (max-width: 37.5em) {
    .frist {
      display: none; } }
  .frist .link {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #131313; }

.second {
  margin-top: -2rem;
  padding: 1.5rem 5rem;
  background-color: #34454c;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 34%; }
  @media (max-width: 56.25em) {
    .second {
      margin-top: 0; } }
  @media (max-width: 37.5em) {
    .second {
      display: none; } }
  .second .link {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff; }

.item {
  list-style: none; }

.dropdown_menu {
  display: none;
  position: absolute;
  left: 2rem;
  top: 6rem;
  height: 0;
  width: 30rem;
  background-color: #34454c;
  backdrop-filter: blur(1.5rem);
  border-radius: 1rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  @media (max-width: 37.5em) {
    .dropdown_menu {
      display: block; } }

.dropdown_menu.open {
  height: 23rem; }

.dropdown_menu .link {
  text-decoration: none;
  color: #fff; }

.dropdown_menu .item {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar .toggle-nav {
  font-size: 1.6rem;
  cursor: pointer;
  display: none; }
  @media (max-width: 37.5em) {
    .navbar .toggle-nav {
      display: block; } }

.hero-section {
  display: flex;
  height: 100vh;
  /* Full viewport height */
  width: 100%;
  /* Full width */
  align-items: center; }
  @media (max-width: 56.25em) {
    .hero-section {
      flex-direction: column;
      margin-top: 5rem;
      gap: 2rem; } }
  .hero-section__content {
    flex: 1; }
  .hero-section__image {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .hero-section__image {
        display: block;
        width: 100%;
        object-fit: cover; } }
  .hero-section__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .hero-section__heading-primary {
    font-size: 6.2rem;
    font-weight: 700;
    color: #131313; }
    @media (max-width: 37.5em) {
      .hero-section__heading-primary {
        font-size: 4.6rem; } }
  .hero-section__paragraph {
    font-size: 1.6rem;
    line-height: 1.3;
    width: 75%; }
  .hero-section__actons {
    display: flex;
    gap: 2rem; }
  .hero-section__headlines {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 10rem; }
  .hero-section__socials {
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media (max-width: 37.5em) {
      .hero-section__socials {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start; } }
  .hero-section__imges {
    display: flex;
    flex-direction: row;
    gap: -14rem;
    align-items: center; }
  .hero-section__bacg {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 1.2rem; }
  .hero-section__pic {
    width: 15%; }
  .hero-section__heading-tertiary {
    font-size: 1.5rem;
    color: #141414; }

.footer {
  margin-top: 10rem;
  padding: 2rem 6rem;
  background-color: #34454c; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 7.5rem 3rem; } }

.grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 3rem; }
  @media (max-width: 37.5em) {
    .grids {
      display: flex;
      flex-direction: column;
      gap: 2rem; } }

.copyright {
  font-size: 1.2rem;
  text-align: center;
  color: #fff; }
  @media (max-width: 37.5em) {
    .copyright {
      margin-top: 10rem; } }

.logo {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media (max-width: 37.5em) {
    .logo {
      display: flex;
      flex-direction: column;
      gap: 0.6rem; } }

.logo-box {
  font-size: 3.2rem;
  font-weight: 500;
  color: #fff; }

.info__email {
  font-size: 2rem;
  font-weight: 500;
  color: #fff; }
  .info__email-line {
    width: 60%;
    color: #fff;
    margin: 0;
    margin-top: 1rem;
    height: 1px;
    background-color: #fff;
    border: none; }

.info__phone {
  font-size: 2rem;
  font-weight: 500;
  color: #fff; }
  .info__phone-line {
    width: 60%;
    color: #fff;
    margin: 0;
    margin-top: 1rem;
    border: none;
    height: 1px;
    background-color: #fff; }

.info__icons {
  display: flex;
  gap: 3rem;
  margin-top: 3rem; }
  .info__icons-icn {
    font-size: 1.8rem;
    color: #fff; }

.one {
  display: flex;
  justify-content: space-between; }

.links {
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  @media (max-width: 37.5em) {
    .links {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      margin-top: 2rem; } }
  .links__lnks {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .links__head4 {
    font-size: 3.2rem;
    font-weight: 500;
    color: #fff; }
  .links__items {
    list-style: none; }
  .links__lnk {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff; }

.help {
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  @media (max-width: 37.5em) {
    .help {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      margin-top: 2rem; } }
  .help__lnks {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .help__head4 {
    font-size: 3.2rem;
    font-weight: 500;
    color: #fff; }
  .help__items {
    list-style: none; }
  .help__lnk {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff; }

hr {
  border: none;
  height: 1px;
  background-color: #fff;
  margin: 4rem 0; }

.explore {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: #34454c;
  color: #fff;
  padding: 1.3rem 2rem;
  border-radius: 0.4rem; }

.learn {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: #131313;
  padding: 1.3rem 2rem;
  border-radius: 0.4rem; }

.cardb {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 1.3rem 2.3rem;
  border-radius: 0.4rem; }

.storyb {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: #000; }

.logo-brands {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem; }
  .logo-brands__brnd {
    width: 15%; }

.latest__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem; }
  @media (max-width: 37.5em) {
    .latest__content {
      flex-direction: column;
      gap: 3rem; } }

.latest__heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  color: #141414; }

.latest__parga {
  font-size: 1.7rem;
  font-weight: 400;
  width: 38%; }
  @media (max-width: 37.5em) {
    .latest__parga {
      width: 75%; } }

.latest__imges {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    .latest__imges {
      flex-direction: column;
      gap: 1.5rem; } }

.Featured__content {
  display: flex;
  gap: 36rem;
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .Featured__content {
      flex-direction: column;
      gap: 3rem; } }
  @media (max-width: 37.5em) {
    .Featured__content {
      flex-direction: column;
      gap: 3rem; } }

.Featured__heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  color: #141414; }

.Featured__parga {
  font-size: 1.7rem;
  font-weight: 400;
  width: 38%; }
  @media (max-width: 37.5em) {
    .Featured__parga {
      width: 75%; } }

/* Grid container */
.grid-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  gap: 2rem; }
  @media (max-width: 56.25em) {
    .grid-containers {
      display: flex;
      flex-direction: column;
      gap: 2rem; } }
  @media (max-width: 37.5em) {
    .grid-containers {
      display: flex;
      flex-direction: column;
      gap: 2rem; } }

.grid-items {
  position: relative; }

/* First image spans the first column and two rows */
.items-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3; }
  @media (max-width: 37.5em) {
    .items-1 {
      display: none; } }

/* Other images */
.items-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.items-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.items-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.items-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  @media (max-width: 56.25em) {
    .contents {
      width: 97%; } }

.contents2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 90%; }
  @media (max-width: 56.25em) {
    .contents2 {
      width: 55%; } }
  @media (max-width: 37.5em) {
    .contents2 {
      width: 72%; } }

.contents3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 90%; }
  @media (max-width: 56.25em) {
    .contents3 {
      width: 55%; } }
  @media (max-width: 37.5em) {
    .contents3 {
      width: 72%; } }

.contents4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 90%; }
  @media (max-width: 56.25em) {
    .contents4 {
      width: 55%; } }
  @media (max-width: 37.5em) {
    .contents4 {
      width: 72%; } }

.contents5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 90%; }
  @media (max-width: 56.25em) {
    .contents5 {
      width: 55%; } }
  @media (max-width: 37.5em) {
    .contents5 {
      width: 72%; } }

.heading-qouter {
  font-size: 3.6rem;
  color: #343434; }

.heading-qouter2 {
  font-size: 2rem;
  color: #343434; }

.price {
  font-size: 6rem;
  font-weight: 400;
  color: #141414; }

.price2 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #141414; }

.seller__content {
  display: flex;
  gap: 50rem;
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .seller__content {
      flex-direction: column;
      gap: 3rem; } }
  @media (max-width: 37.5em) {
    .seller__content {
      flex-direction: column;
      gap: 3rem; } }

.seller__heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  color: #141414; }

.seller__parga {
  font-size: 1.7rem;
  font-weight: 400;
  width: 38%; }
  @media (max-width: 37.5em) {
    .seller__parga {
      width: 75%; } }

/* Grid container */
.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem; }
  @media (max-width: 56.25em) {
    .grid-container2 {
      display: flex;
      flex-direction: column;
      gap: 2rem; } }
  @media (max-width: 37.5em) {
    .grid-container2 {
      display: flex;
      flex-direction: column;
      gap: 2rem; } }

.grid-item {
  position: relative; }

.item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

/* Other images */
.item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.item-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3; }

.item-4 {
  grid-column: 3 / 4;
  grid-row: 1 / 3; }
  @media (max-width: 37.5em) {
    .item-4 {
      display: none; } }

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 90%; }
  @media (max-width: 56.25em) {
    .content {
      width: 55%; } }
  @media (max-width: 37.5em) {
    .content {
      width: 72%; } }

.content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 90%; }
  @media (max-width: 56.25em) {
    .content2 {
      width: 55%; } }
  @media (max-width: 37.5em) {
    .content2 {
      width: 72%; } }

.content3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 90%; }
  @media (max-width: 56.25em) {
    .content3 {
      width: 55%; } }
  @media (max-width: 37.5em) {
    .content3 {
      width: 72%; } }

.content4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  @media (max-width: 56.25em) {
    .content4 {
      width: 97%; } }

.content5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%; }

.heading-qouterr {
  font-size: 1.6rem;
  color: #343434; }

.heading-qouterr2 {
  font-size: 3.6rem;
  color: #343434; }

.pricee {
  font-size: 4.2rem;
  font-weight: 400;
  color: #141414; }

.pricee2 {
  font-size: 6rem;
  font-weight: 400;
  color: #141414; }

.CTA {
  height: 70vh;
  background-color: #d4d1cc;
  padding: 8rem;
  position: relative; }
  .CTA__photo {
    position: absolute;
    top: 26%;
    left: 55%; }
    @media (max-width: 56.25em) {
      .CTA__photo {
        top: 16%; } }
    @media (max-width: 37.5em) {
      .CTA__photo {
        top: 35%; } }
    .CTA__photo img {
      width: 70%; }
  .CTA__card {
    width: 50%;
    background-color: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center; }
    @media (max-width: 56.25em) {
      .CTA__card {
        width: 45%;
        position: absolute;
        top: 10%;
        left: 5%;
        padding: 2rem; } }
    @media (max-width: 37.5em) {
      .CTA__card {
        width: 45%;
        position: absolute;
        top: 10%;
        left: 5%;
        padding: 2rem; } }
    .CTA__card-heading {
      font-size: 2rem;
      font-weight: 400; }
    .CTA__card-heading2 {
      font-size: 5rem;
      font-weight: 600; }
      @media (max-width: 37.5em) {
        .CTA__card-heading2 {
          font-size: 3rem; } }
    .CTA__card-prag {
      font-size: 1.4rem;
      font-weight: 400; }

.stories .heading-secondary {
  font-size: 6.4rem;
  font-weight: 600; }
  @media (max-width: 37.5em) {
    .stories .heading-secondary {
      font-size: 4.6rem; } }

.stories__card1 {
  display: flex;
  align-items: center;
  margin-top: 4rem; }
  @media (max-width: 56.25em) {
    .stories__card1 {
      flex-direction: column; } }
  @media (max-width: 37.5em) {
    .stories__card1 {
      flex-direction: column; } }
  .stories__card1-pic {
    width: 80%; }
    @media (max-width: 56.25em) {
      .stories__card1-pic {
        display: none; } }
    @media (max-width: 37.5em) {
      .stories__card1-pic {
        display: none; } }
  .stories__card1-contennt {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 0;
    border-right: 2px solid #000;
    padding: 6rem 3rem; }
    @media (max-width: 37.5em) {
      .stories__card1-contennt {
        border-top: 0;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        border-left: 2px solid #000; } }
  .stories__card1-heading {
    font-size: 2.8rem;
    width: 80%;
    font-weight: 400;
    color: #141414; }
  .stories__card1-prg {
    font-size: 1.6rem;
    width: 75%;
    line-height: 1.4; }
  .stories__card1-date {
    display: flex;
    justify-content: space-between; }
  .stories__card1-text {
    font-size: 1.3rem; }

.stories__card2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 4rem; }
  @media (max-width: 56.25em) {
    .stories__card2 {
      flex-direction: column; } }
  @media (max-width: 37.5em) {
    .stories__card2 {
      flex-direction: column; } }
  .stories__card2-pic {
    width: 80%; }
    @media (max-width: 56.25em) {
      .stories__card2-pic {
        display: none; } }
    @media (max-width: 37.5em) {
      .stories__card2-pic {
        display: none; } }
  .stories__card2-contennt2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 0;
    border-left: 2px solid #000;
    padding: 6rem 3rem; }
    @media (max-width: 37.5em) {
      .stories__card2-contennt2 {
        border-top: 0;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        border-left: 2px solid #000; } }
  .stories__card2-heading {
    font-size: 2.8rem;
    width: 65%;
    font-weight: 400;
    color: #141414; }
  .stories__card2-prg {
    font-size: 1.6rem;
    width: 70%;
    line-height: 1.4; }
  .stories__card2-date {
    display: flex;
    justify-content: space-between; }
  .stories__card2-text {
    font-size: 1.3rem; }

.section-logos {
  padding: 3rem 0;
  padding-right: 6rem;
  margin-top: 10rem; }

.section-latest {
  padding: 3rem 0; }

.section-Featured {
  padding: 3rem 0;
  margin-top: 10rem; }

.section-seller {
  padding: 3rem 0;
  margin-top: 10rem; }

.section-cta {
  padding: 3rem 0;
  margin-top: 10rem; }

.section-stories {
  padding: 3rem 0;
  margin-top: 10rem; }
