$primary-color: #34454c;

$dark-color: #131313;
$dark-color2: #141414;
$dark-color3: #343434;

$color-white: #fff;
$color-black: #000;

$color-light: #666;
$color-light1: #d4d1cc;
$color-light2: #ededed;
