.explore {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: $primary-color;
  color: $color-white;
  padding: 1.3rem 2rem;
  border-radius: 0.4rem;
}

.learn {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: $dark-color;
  padding: 1.3rem 2rem;
  border-radius: 0.4rem;
}

.cardb {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  background-color: $color-black;
  color: $color-white;
  padding: 1.3rem 2.3rem;
  border-radius: 0.4rem;
}

.storyb {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: $color-black;
}
