.section-logos {
  padding: 3rem 0;
  padding-right: 6rem;
  margin-top: 10rem;
}

.section-latest {
  padding: 3rem 0;
}

.section-Featured {
  padding: 3rem 0;
  margin-top: 10rem;
}

.section-seller {
  padding: 3rem 0;
  margin-top: 10rem;
}

.section-cta {
  padding: 3rem 0;
  margin-top: 10rem;
}

.section-stories {
  padding: 3rem 0;
  margin-top: 10rem;
}
